a:hover {
  text-decoration: none;

}

a:hover .thumbnail img {
  opacity: 0.5;

}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  background-color: #000;
}

.logo {
  width: 300px;
  margin: 0px 0;
}



/* Main */
html, body {
  height: 100%;
}

.main {
  padding-top: 40px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
  vertical-align: bottom;
  background-color: white !important;
}


/* Thumbnail */
.thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin: auto;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}



.title {
  margin: 5px 0 3px 0;
  font-size: 16px;
  font-weight: 500;
}


/* Product description */
.show {
  margin: 20px 0;
}

.product-title {
  font-size: 30px;
}

.product-price {
  margin-bottom: 25px;
}

.description {
  margin-top: 10px;
}

.description:hover {
  background: rgba(255,255,255,0.1);
}

.description .name {
  font-size: 24px;
  font-weight: 100;
}

.description .description_facts {
  padding-top: 12px;
  text-align: center;
}

.description:last-child {
  margin-bottom: 80px;
}

/* Footer */
.footer {
  height: auto;
  background-color: #ffffff;
  color: #fff;
  padding: 50px 0 35px 0;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #aaa;
  font-size: 13px;
  display: inline-block;
  padding: 5px 0;
}
